 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
	  <p>HTML/HTML5, CSS/CSS3, Foundation 5, Bootstrap3, jQuery, Angular.js, Photoshop, Slice PSD, Drupal, Joomla, WordPress, Opencart</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain"></i>
	  <p>Java, JavaScript, C++, Python, Swing, MySQL, Oracle, SQL Server, AWS, Appium, Selenium, JUnit, TestNG, RestAssured, Jsoup</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-cucumber-plain colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
	  <p>IntelliJ, PyCharm, Eclipse (JDT, Pydev, PDE), NetBeans, Git, Gradle, Maven, Svn, Apache Ant, pip, virtualenv, Docker, Arduino</p>
    </div>
</div>
