<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto: r@hulkar.io"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Instagram" target="_blank" href="https://www.instagram.com/yxrkt512"><i class="icon fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="Project x86" target="_blank" href="https://photos.app.goo.gl/41rF6gMepmnxx7pbA"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
