<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.ico' }}" >

  <!-- Structured Data (JSON-LD) for Person Schema -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "{{ site.username }}",
    "url": "{{ site.url }}",
    "jobTitle": "{{ site.user_title }}",
    "description": "{{ site.user_description }}",
    "email": "{{ site.email }}"{% assign social_profiles = '' %}{% if site.twitter_username %}{% assign social_profiles = social_profiles | append: '"https://twitter.com/' | append: site.twitter_username | append: '"' %}{% endif %}{% if site.github_username %}{% if social_profiles != '' %}{% assign social_profiles = social_profiles | append: ',' %}{% endif %}{% assign social_profiles = social_profiles | append: '"https://github.com/' | append: site.github_username | append: '"' %}{% endif %}{% if site.gplus_username %}{% if social_profiles != '' %}{% assign social_profiles = social_profiles | append: ',' %}{% endif %}{% assign social_profiles = social_profiles | append: '"https://plus.google.com/' | append: site.gplus_username | append: '"' %}{% endif %}{% if social_profiles != '' %},
    "sameAs": [{{ social_profiles }}]{% endif %}
  }
  </script>
</head>
